# Code Owners

# Default owners for everything in the repo.
*                    @elruleh

# Source code
/src/loghop/         @elruleh

# Documentation
/docs/               @elruleh
*.md                 @elruleh

# Tests
/tests/              @elruleh

# CI/CD
/.github/workflows/  @elruleh
