# Auto detect text files and perform LF normalization
* text=auto

# Explicitly declare text files that must always have LF line endings
*.py text eol=lf
*.tcss text eol=lf
*.toml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.sh text eol=lf

# Denotate binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.svg text
